@import "../../constants.scss";
$heightControls: 34px;

.control {
  display: flex;

  &__input {
    width: 230px;
    height: $heightControls;
    padding: 10px 35px 10px 11px;
    border: 2px solid #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    outline: none;

    &:active,
    &:focus {
      border-color: $buttonColor;
    }
  }

  &__label_error .control__input {
    border-color: red;
  }

  &__error {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333;
    display: none;
  }

  &__label_error .control__error {
    display: block;
  }

  &__button {
    padding: 5px;
    cursor: pointer;
    height: $heightControls;
    outline: none;
    border-color: transparent;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;

    &:focus,
    &:active {
      outline: none;
    }

    &_type_search {
      $width: 30px;

      width: $width;
      margin-top: 2px;
      margin-left: calc(-#{$width} - 2px);
      height: calc(#{$heightControls} - 4px);
      background: #fff url(../../docs/images/search.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      z-index: 10;
    }

    &_type_fileupload {
      margin-left: 15px;
      display: flex;
      align-items: center;
      border: 2px solid $buttonColor;

      &::before {
        margin: 0 3px 0 0;
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        background: url(../../docs/images/upload.png) 0px 50% no-repeat;
        background-size: 20px 20px;
      }
    }
  }

  &__file {
    display: none;
  }
}
