@import "../../constants.scss";

$headerHeight: 64px;

.root {
  margin: $galleryPadding;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  background-color: $activeColor;
  z-index: 3;
}
.galleryContainer {
  margin: calc(#{$headerHeight} + #{$galleryPadding}) auto auto;
  max-width: 860px;
  min-width: 320px;
}
