@import "../../constants.scss";

.root {
  margin: $galleryPadding;
}
.header {
  border-bottom: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px;
}
.galleryContainer {
  margin: auto;
  max-width: 860px;
  min-width: 320px;
}
