@import "../../constants.scss";

$headerHeight: 64px;
$paddingRoot: calc(#{$galleryPadding} + 20px);

.root {
  margin: calc(#{$headerHeight} + #{$galleryPadding}) $paddingRoot $paddingRoot;
  display: flex;
  justify-content: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  background-color: $activeColor;
  z-index: 3;
}
.galleryContainer {
  margin: 0;
  margin-left: calc((-1 * (100vw - 100%) + 50px) / 2);
  margin-right: calc((-1 * (100vw - 100%) + 50px) / 2);
  flex-grow: 1;
  max-width: 860px;
  min-width: 320px;
  overflow: hidden;
}
